[connection]
id=wifi-home
type=wifi
autoconnect=true

[wifi]
ssid=stephane-klein.info_5G
mode=infrastructure

[wifi-security]
key-mgmt=wpa-psk
psk={{ ENV.WIFI_PSK }}

[ipv4]
method=auto
route-metric=600
[ipv6]
method=auto
route-metric=600